#sidPopup {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

#sidPopupContent {
    background-color: #fefefe; 
    margin: auto; 
	margin-top: 30px;
    padding: 6px; 
    border: 1px solid #888; 
	border-radius: 10px;
    max-width: 700px; 
	height: 90%; 
}

#sidPopupFrame{
	margin:0px;
	padding:0px;
	border:none;
	width:100%;
	height:100%;	
}

#sidPopupClose {
    color: #aaa; 
    float: right;
    font-size: 28px; 
    font-weight: bold;
	margin:0px;
	padding:0px;
	
	font-family: 'Times New Roman';
    line-height: 15px;
    height: 15px;
}

#sidPopupClose:hover,
#sidPopupClose:focus {
    color: black; 
    text-decoration: none;
    cursor: pointer;
}